h2{
    color: #012970;
    font-size: 40px;
    font-weight: 400;
    margin: 10px;
    text-align: center;
}
.function{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.function1{
    margin-left: 75px;
}
.function i{
    color:#4640bd;
}
.function1 h5{
    font-size: 20px;
    color: #4540ab;
    font-weight: 400;
    margin:10px;
}
.function1 p{
    font-size:15px;
    color:rgb(78, 78, 76);
    font-weight: 100;
}
.function1 .title{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
}
.function2 img{
    max-height: 400px;
}