.FAQ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:20px;
}
h4{
    margin:20px auto;
    font-size: 18px;
    color: #012970;
    font-weight: 600;
}
.ul{
    display: flex;
    justify-content:start;
    flex-direction: column;
}
.li h5{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.li{
    max-height: 200px;
    transition:ease-out;
    max-width:1000px;
    display: flex;
    justify-content:start;
    flex-direction: column;
    margin:10px auto;
}
.li .on{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.li button{
    margin:20px;
    border:none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    color: #424770;
}
.li:hover{
    box-shadow: 0px 0px 5px 5px #ddd;
}
.li button img{
    z-index: 999;
    margin-left: 20px;
    height:20px;
}
#img{
    display: none;
    margin-left: -20px;
    height:20px;
}
.extend1,.extend2,.extend3,.extend4,.extend5{
    padding:30px;
    display:none;
    font-size: 14px;
    color: #424770;
    font-weight: 200;
}
.li a{
    text-decoration: none;
}